*{
    font-family: montserrat;
}

body{
    background:  rgb(240,240,240);
}
.navbar{
    background-color:transparent !important;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus{
    color:#FAA300;
}

.carousel-item{
    height: 100vh;
    min-height: 300px;
}

.carousel-caption{
    bottom: 150px;
}

.carousel-caption h2{
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-caption a{
    text-transform: uppercase;
    text-decoration: none;
    background: #FAA300;
    padding: 10px 30px;
    display: inline-block;
    color: #000;
    margin-top: 15px;
}

.navbar-nav a {
    font-size: 18px;
    font-weight: 500;
}

.card-img-top {
    height: 200px; /* Fixed height for images */
    object-fit: cover; /* Cover the area without stretching the image */
}

.card {
    transition: transform 0.3s ease-in-out; /* Smooth transform for hover effect */
}

.card:hover {
    transform: scale(1.05); /* Slightly enlarge cards on hover */
}

